<div id="feature-tutorials-list" ng-if="currentFeature" class="col-md-12">
  <h2 class="tutorials-feature-heading">
    <i class="fa" ng-class="currentFeature.icon"></i>
    {{ currentFeature.label }}
  </h2>

  <div class="feature-articles-list">
    <h3>Topics</h3>

    <div class="feature-articles-list-item" ng-repeat="article in tutorials | filter: { flag: currentFeature.name }">
      <div class="feature-article-heading">
        <a class="lead" ng-click="loadArticle(article)">{{ article.label }}</a>
      </div>

      <div class="feature-article-blurb">
        {{ article.body | getBlurb: 400 }}
      </div>
    </div>
  </div>
</div>

<div ng-if="!currentFeature">
  <h2 class="tutorials-feature-heading"></h2>


</div>
