<div class="rich-text-editor">
  <div class="editor-controls">
    <button type="button" ng-click="format('bold')" class="btn btn-default bold-control"><i class="fa fa-bold"></i></button>
    <button type="button" ng-click="format('italic')" class="btn btn-default italics-control"><i class="fa fa-italic"></i></button>
    <button type="button" ng-click="format('underline')" class="btn btn-default underline-control"><i class="fa fa-underline"></i></button>
    <button type="button" ng-click="format('insertOrderedList')" class="btn btn-default ordered-list-control"><i class="fa fa-list-ol"></i></button>
    <button type="button" ng-click="format('insertUnorderedList')" class="btn btn-default unordered-list-control"><i class="fa fa-list-ul"></i></button>
    <button type="button" ng-click="format('createLink')" class="btn btn-default hyperlink-control"><i class="fa fa-link"></i></button>
  </div>
  <div class="editor" contenteditable="true"></div>
</div>
