<div class="modal session-expiring" id="session-expiring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <center>
        <div>
          <div class="check-icon">
            <i class="fa fa-3x fa-check"></i>
          </div>
        </div>
        <div class="warning-text">
          <div>Thank you for visiting the Acquisition Gateway.</div>
        </div>
        <div class="warning-description">
          <div>You have successfully signed out of the Gateway.</div>
        </div>
        <div class="warning-buttons">
          <a href="/login-information" class="btn btn-lg">Sign in again</a>
        </div>
      </center>
    </div>
  </div>
</div>
