<div class="clearfix">&nbsp;</div>
<div id="r_footer" ng-controller="NavController">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="DINCondensedBold">ACQUISITION GATEWAY</h2>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<h3>About Us</h3>
			<p>The Acquisition Gateway is managed by GSA’s Common Acquisition Platform (CAP) team. Using the practice of frequent, iterative development we let customer feedback inform how and what we build.</p>
		  <p><a href="javascript:;" ng-click="openModal('aboutus')">Learn More</a></p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<h3>Explore</h3>
			<p>The Acquisition Gateway is intended to be your workspace for accurate, useful, and unbiased advice.  Take a look at what we have today and check back often to see the latest progress.</p>
			<p><a href="javascript:;" ng-click="openModal('explore')">Learn More</a></p>
		</div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <h3>Help</h3>
      <p>Have a question about the Acquisition Gateway or anything related to it? Check out our FAQs or submit a question.</p>
		  <p><a href="javascript:;" ng-click="openModal('help')">Learn More</a></p>
    </div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			<h3>Connect &amp; Contribute</h3>
		<p>Share your expertise and advice.</p>
		  <p><a href="javascript:;" ng-click="openModal('share')">Learn More</a></p>
		</div>
	</div>
</div>
