<div class="homepage-headBox-box">
  <div class="container">
    <h1 class="DINCondensedBold">SOLUTION FINDER<small></small></h1>
</div>
</div>
<div class="container-fluid" id="lca-block">
<div class="lca-bar">
    <div class="lca-color-bar">
      <div class="col-xs-4 col-sm-4">
        <div class="progress">
          <div class="progress-bar progress-bar-primary" style="width: 100%"> </div>
        </div>
        <span class="lca-title">LEARN</span> </div>
      <div class="col-xs-4  col-sm-4">
        <div class="progress">
          <div class="progress-bar progress-bar-warning" style="width: 100%"> </div>
        </div>
        <span class="lca-title">CONNECT</span> </div>
      <div class="col-xs-4 col-sm-4">
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 100%"> </div>
        </div>
        <span class="lca-title">ACT</span> </div>
    </div>
  </div>
</div>


