<ul style="width:450px; margin-top:0px;" role="menu" class="dropdown-menu"><li>
    <div class=" panel-body">
      <h3 class="DINCondensedBold">How Can We Help?</h3>
      <p>Are you having trouble? We want to help you succeed. Whether it is a sign in issue, problems finding what you need, or a concern about the accuracy or usefulness of an item, please let us know. If it affects you, we care.</p>
      <p>Email us at:</p>
      <p><a href="mailto:hallways_site_manager@gsa.gov" class="btn btn-block btn-warning">hallways_site_manager@gsa.gov</a></p>
      <p>Thank you for your support. We aim to respond to every message within one working day. </p>
    </div>
  </li>
</ul>
