<!-- <div class="sowl-panel-info" id=""> -->
  <div id="sowl-welcome" style="padding-left: 15px; padding-right: 15px;" ng-if="welcome.visible && modalContent">
    <div class="modal-content info">
      <div class="modal-header">
        <h2 class="DINCondensedBold">Important Information about this STATEMENT OF WORK LIBRARY</h2>
      </div>
      <div class="modal-body">
        <div class="modal-middle">
          <div class="view view-sow-modals view-id-sow_modals view-display-id-block view-dom-id-ee2cc789dfe199db57a7bcaa9274d69f">
            <div class="view-content">
              <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                <div class="views-field views-field-body">        
                  <div class="field-content" ng-bind-html="modalContent.body"></div>  
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="sowl-modal-botton">
      
         <button id="sowl-clear-welcome" ng-click="toggleWelcome()" class="btn btn-black btn-lg" type="button" >Ok, I got it. Hide this from my view for now.</button>
        </div>

      </div>
    </div>
  </div>
<!-- </div>
 -->
