<div class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
     <div ng-if="!saved">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">File Upload</h4>
      </div>
      <div class="modal-body">
        <form name="fileUpload">
          <div class="form-group" ng-class="{ 'has-error': fileUpload.name.$invalid }">
            <label>Name</label>
            <input type="text" ng-model="fileEntity.label" title="Name" name="name" class="form-control" maxlength="225" required/>
            <span class="text-danger small">
              <span ng-show="fileUpload.name.$error.required">
                Name is required.
              </span>
            </span>
          </div>
          <div class="form-group" ng-class="{ 'has-error': fileUpload.file.$invalid }">
            <label>File</label>
            <input type="file" ag-input-file ng-model="fileEntity.file" max-size="2000000" allowed-mimes="[ 'application/msword', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 'application/pdf', 'application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' ]" title="File" name="file" class="form-control" ng-required="true" />
            <span class="text-danger small">
              <div ng-show="fileUpload.file.$error.required">
                File is required.
              </div>
              <div ng-class="{ 'text-muted': !fileUpload.file.$error.mime }">
                Allowed file types: doc docx pdf xls xlsx.
              </div>
              <div ng-class="{ 'text-muted': !fileUpload.file.$error.size }">
                Files must be less than 2 MB.
              </div>
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancel-file-upload" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-default" id="submit-file-upload" ng-click="fileUpload.$valid && projectFileUpload.save(fileEntity, projectEntity, fileUpload.file, $hide);">Save</button>
       </div>
      </div>
      <!--<ag-confirmation ng-if="saved"></ag-confirmation>-->
  </div>

  </div>
</div>
