<div class="modal" role="dialog" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <ag-add-to-project
      data-item="addToProjectDetails.item"
      data-name-field="addToProjectDetails.itemNameField"
      data-hide="$hide"
      data-type="addToProjectDetails.itemType"
      data-add-to-project-modal="addToProjectModal"
      data-analytics-category="addToProjectDetails.analytics.category"
      data-analytics-label="addToProjectDetails.analytics.label"
      data-analytics-value="addToProjectDetails.analytics.value">
    </ag-add-to-project>
  </div>
</div>
